<!-- Author: Mike -->
<!-- Created: 6/20 -->
<!-- Edit: 6/24 Gail used asset helper to send emails. -->
<!-- Description: The footer shows the webpage is designed by the team MAGiC and allows the users to reach the team via email.-->

<footer>
	<p>Brought to you by MAG&iexcl;C <%= mail_to 'osu.magic.team@gmail.com', 'Email Us'%></p>
</footer>
